rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Allow write access only for authenticated users
    // This is a basic rule. For production, you might want to restrict
    // access further, for example, to specific user roles (like admin).
    match /{allPaths=**} {
      allow read;
      allow write: if request.auth != null;
    }
  }
}
